<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ut.emrPacs.mapper.permission.RolePermissionMapper">

    <delete id="deleteByRoleId">
        DELETE FROM role_module_details WHERE role_id = #{roleId}
    </delete>

    <insert id="insert">
        INSERT INTO role_module_details (role_id, module_detail_id, created_by, created)
        VALUES (#{roleId}, #{moduleDetailId}, #{createdBy}, NOW())
        ON CONFLICT (role_id, module_detail_id) DO NOTHING
    </insert>

    <insert id="insertBatch">
        INSERT INTO role_module_details (role_id, module_detail_id, created_by, created)
        VALUES
        <foreach collection="moduleDetailIds" item="moduleDetailId" separator=",">
            (#{roleId}, #{moduleDetailId}, #{createdBy}, NOW())
        </foreach>
        ON CONFLICT (role_id, module_detail_id) DO NOTHING
    </insert>

    <select id="findUserIdsByRoleId" resultType="java.lang.Long">
        SELECT DISTINCT user_id
        FROM user_groups
        WHERE role_id = #{roleId}
          AND is_active = 1
    </select>

    <update id="bumpPermissionVersion">
        UPDATE users
        SET permission_version = permission_version + 1,
            modified = NOW()
        WHERE id = #{userId}
    </update>

</mapper>
